<configuration>
 
 	<property name="product_version_dir" value="/opt/futu/basic-scala-console-app/basic-scala-console-app.1.0.0.dev.ysg" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
     		<pattern> [%-5level] %d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] [%logger{36}] - %msg%n</pattern>
		</encoder>
  	</appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${product_version_dir}/data/log/scala/basic-scala-console-app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>basic-scala-console-app.%d{yyyy-MM-dd}.log</fileNamePattern>

      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>

    </rollingPolicy>
	
	<!-- get a nice print -->
    <encoder>
     	<pattern> [%-5level] %d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] [%logger{36}] - %msg%n</pattern>
    </encoder>
  </appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>


</configuration>
<!-- src: http://logback.qos.ch/manual/appenders.html -->
